.skeleton {
    border-radius: 4px;
    animation: pulse 1.5s infinite;
    
  }
  
  @keyframes pulse {
    
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.6;
    }
  }

.skeleton-channel-img{
    border-radius: 60%;
    width: 3rem;
    height: 3rem;
}
.skeleton-img{
    border-radius: 0.75rem;
}

.skeleton-text-wrap {
    flex:1;

}

.skeleton-text{
    width: 80%;
    margin-left:10px;
}

/* 스켈레톤 로딩 스타일 */
.react-loading-skeleton {
    --highlight-color: #d0d0d0;
    --background-color: #d0d0d0;
}